.button {
    -fx-background-color: #FFC107;
    -fx-background-radius: 0;
    -fx-opacity: 0.8;
}

.button:hover {
    -fx-background-color: #FFC723;
    -fx-opacity: 0.9;
}

.button:pressed {
    -fx-background-color: #E3AC06;
    -fx-opacity: 1.0;
}