#default {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.1;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 0.8;
}

#default: hover {
    -fx-background-color : #3A84C3;
    -fx-opacity: 0.9;
}

#default: selected {
    -fx-background-color : #3A84C3;
    -fx-opacity: 1.0;
}


#yellow {
    -fx-background-color: #2E2E2E;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.1;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 0.8;
}

#yellow: hover {
    -fx-background-color : #FFC723;
    -fx-opacity: 0.9;
}

#yellow: selected {
    -fx-background-color : #E3AC06;
    -fx-opacity: 1.0;
}


#green {
    -fx-background-color: #2E2E2E;
        -fx-text-fill: white;
        -fx-border-color: white;
        -fx-border-width: 0.1;
        -fx-background-radius: 0,0,0,0;
        -fx-opacity: 0.8;
}

#green: hover {
    -fx-background-color : #4DA94C;
    -fx-opacity: 0.9;
}

#green: selected {
    -fx-background-color : #4DA94C;
    -fx-opacity: 1.0;
}


#red {
    -fx-background-color: #2E2E2E;
        -fx-text-fill: white;
        -fx-border-color: white;
        -fx-border-width: 0.1;
        -fx-background-radius: 0,0,0,0;
        -fx-opacity: 0.8;
}

#red: hover {
    -fx-background-color : #C8322D;
    -fx-opacity: 0.9;
}

#red: selected {
    -fx-background-color : #C8322D;
    -fx-opacity: 1.0;
}
/*.toggle-button {
    -fx-background-color: #FFC107;;
    -fx-border-width: 0.1;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 0.8;
}

.toggle-button:selected {
    -fx-background-color: #FFC723;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 1.0;
}

.toggle-button:hover {
    -fx-background-color: #FFC723;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 0.9;
}*/