.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-border-radius: 0;
    -fx-background-radius: 0;

    -fx-min-width: 0;
    -fx-pref-width: 35;
    -fx-max-width: 49;

    -fx-min-height: 0;
    -fx-pref-height: 11;
    -fx-max-height: 22;
}

.check-box:selected .mark {
    -fx-background-color: #FFC723;

    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    /*-fx-border-radius: 10;*/
    /*-fx-background-radius: 10;*/
}

.check-box:selected .box {
    -fx-background-color: #FFC723;
    -fx-background-radius: 15;
    /*-fx-border-color: #8C8C8C;
    -fx-border-width: 2;
    -fx-border-width: 3;*/
    /*-fx-background-radius: 10;*/
}