.table-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #BEBEBE;
    -fx-background-insets: 0, 0 0 1 0;
    //-fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: #B0B0B0;
    -fx-background-insets: 0, 0 0 1 0;
    //-fx-padding: 0.0em;
}