.toggle-button {
    -fx-background-color: #393939;
    -fx-border-width: 0.5;
    -fx-border-color: gray;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 0.8;
}

.toggle-button:selected {
    -fx-background-color: #FFC723;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 1.0;
    -fx-text-fill: black;
}

.toggle-button:hover {
    -fx-background-color: #3A84C3;
    -fx-background-radius: 0,0,0,0;
    -fx-opacity: 0.9;
}