.button {
    -fx-background-color : #FFC107;
    -fx-background-radius: 0;
}

.button: hover {
    -fx-background-color : #FFC723;
}

.button: pressed {
    -fx-background-color : #E3AC06;
}

.button: disabled {
    -fx-background-color : #474747;
}

#buttonRed {
    -fx-background-color : #2E2E2E;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-opacity: 0.8;
}

#buttonRed: hover {
    -fx-background-color : #3A84C3;
    -fx-opacity: 0.9;
}

#buttonRed: pressed {
    -fx-background-color : #C8322D;
    -fx-text-fill: white;
    -fx-opacity: 1.0;
}

#buttonRed: disabled {
    -fx-background-color : #474747;
}