.table-view: focused {
    -fx-focus-color: #FFD65C;
}

.table-row-cell: odd {
    -fx-background-color: #EBEBEB;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell: even {
    -fx-background-color: #E0E0E0;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-view .column-header-background {
    -fx-background-color: #95999D;
}

.table-view .column-header-background .filler {
    -fx-background-color: #95999D;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #95999D;
}

.table-view .table-cell{
}

.table-row-cell{
    -fx-background-color: #000000;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/*Цвет выбранной строки*/
.table-row-cell: selected {
    /*-fx-background-color: #0096C9;*/
    -fx-background-color: #B5B7BA;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/*Цвет текста выбранной строки*/
.table-row-cell: selected .text {
}

/*Текстовое поле при редактировании*/
.text-field-table-cell .text-field {
   -fx-padding: 0;
   -fx-border-color: black;
   -fx-background-color: #FFFFFF;
   -fx-highlight-fill: #FFC723;
   -fx-highlight-text-fill: black;
}

.table-view: row-selection > .placeholder {
    -fx-background-color: #EBEBEB;
}
/*
.table-view: row-selection > .column-resize-line {
    -fx-background-color: green;
    -fx-background: green;
}
*/

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}