.table-view: focused {
    /*-fx-background-color: transparent;*/
    -fx-focus-color: transparent;
}

.table-row-cell: odd {
    -fx-background-color: #EBEBEB;
    /*-fx-background-insets: 0, 0 0 1 0;*/
}

.table-row-cell: even {
    -fx-background-color: #E0E0E0;
    /*-fx-background-insets: 0, 0 0 1 0;*/
}

.table-view .column-header-background {
    -fx-background-color: #95999D;
    -fx-border-color: white;
}

.table-view .column-header-background .filler {
    -fx-background-color: #95999D;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #95999D;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: #000000;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    -fx-padding: 0.0em;
}

/*Цвет выбранной строки*/
.table-row-cell: selected {
    -fx-background-color: #00A8E0;
    -fx-background-radius: 0;
}

/*Цвет текста выбранной строки*/
.table-row-cell: selected .text {
    -fx-fill: white;
}

/*Текстовое поле при редактировании*/
.text-field-table-cell .text-field {
   -fx-padding: 0;
   -fx-border-color: black;
   -fx-background-color: #FFFFFF;
   -fx-highlight-fill: #FFC723;
   -fx-highlight-text-fill: black;
}

.table-view: row-selection > .placeholder {
    -fx-background-color: #EBEBEB;
}
/*
.table-view: row-selection > .column-resize-line {
    -fx-background-color: green;
    -fx-background: green;
}
*/

/*----------------------------------*/
/*Скролл бары*/
*{
    color: #000000;
    minWidth: 0;
    prefWidth: 10;
    maxWidth: 20;

    minHeight: 0;
    prefHeight: 10;
    maxHeight: 20;
}

.scroll-bar: horizontal* {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.scroll-bar:vertical .increment-button .increment-arrow,
.scroll-bar:vertical .decrement-button .decrement-arrow {
    -fx-padding:0 0 0 0;
    -fx-min-width: 0;
    -fx-pref-width: 7;
    -fx-max-width: 10;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 10;
    /*-fx-background-radius: 0em;
    -fx-padding:0 0 10 0;*/

}

.scroll-bar:vertical .decrement-button,
.scroll-bar:vertical .increment-button {
/*-fx-background-radius: 0em;
    -fx-padding:0 0 10 0;*/

    -fx-padding:0 0 0 0;
    -fx-min-width: 0;
    -fx-pref-width: 13;
    -fx-max-width: 15;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 15;
}

.scroll-bar:vertical .track {
    -fx-padding:0 0 0 0;

    -fx-min-width: minWidth;
    -fx-pref-width: prefWidth;
    -fx-max-width: maxWidth;

    -fx-min-height: minHeight;
    -fx-pref-height: prefHeight;
    -fx-max-height: maxHeight;

    -fx-background-color: transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}

.scroll-bar:vertical .thumb {
    -fx-padding:0 0 0 0;
    -fx-min-width: minWidth;
    -fx-pref-width: prefWidth;
    -fx-max-width: maxWidth;

    -fx-min-height: minHeight;
    -fx-pref-height: prefHeight;
    -fx-max-height: maxHeight;

    -fx-background-color: #95999D;
    -fx-opacity: 0.4;
    -fx-background-radius: 0em;
    -fx-border-radius:0em;
}

.scroll-bar:vertical .track-background {
    -fx-padding:0 0 0 0;
    -fx-min-width: minWidth;
    -fx-pref-width: prefWidth;
    -fx-max-width: maxWidth;

    -fx-min-height: minHeight;
    -fx-pref-height: prefHeight;
    -fx-max-height: maxHeight;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed{
    -fx-background-color: #95999D;
    -fx-opacity: 0.7;
}

/*---------------------------------------------------------------------/*
/*Check box style*/
.check-box: determinate {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.check-box .box {
    -fx-background-color: #FFC107;
}

.check-box:selected .mark {
    -fx-background-color: gray;
}

.check-box: selected .box {
    -fx-background-color: #FFC107;
}