.check-box: determinate {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.check-box .box {
    -fx-background-color: #FFC107;
}

.check-box:selected .mark {
    -fx-background-color: gray;
}

.check-box: selected .box {
    -fx-background-color: #FFC107;
}